<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Lift Log</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap 4 BETA CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="/">Workout Log</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="workouts">Workouts <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="history">History</a>
          </li>
        </ul>
        <!-- THIS IS HIDDEN FOR MD AND LARGER SCREENS -->
        <form class="d-md-none">
          <input class="form-group form-control" type="text" placeholder="username" aria-label="Username">
          <input class="form-group form-control" type="password" placeholder="password" aria-label="password">
          <button class="btn btn-block btn-outline-light btn-sm mb-3" type="submit">Login</button>
        </form>

        <!-- LOGIN MODAL TRIGGER BUTTON -->
        <button type="button" class="btn mr-2 btn-outline-light col-md-2 btn-sm d-none d-md-block" data-toggle="modal" data-target="#loginModel">
          Login
        </button>
        
        <!-- REGISTER BUTTON ALWAYS DISPLAYED -->
        <a class="btn btn-outline-light btn-sm col-md-2 btn-block" href="#">
          Register
        </a>
      
      </div>
    </nav>

    <!-- LOGIN MODAL -->
    <div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Login</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <input class="form-group form-control" type="text" placeholder="username" aria-label="Username">
              <input class="form-group form-control" type="password" placeholder="password" aria-label="password">
              <button class="btn btn-block btn-outline-dark btn-sm mb-3" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- END LOGIN MODAL -->

    <div class="container">
      <div class="row justify-content-center">

        <!-- WORKOUTS -->
        <div class="col-xs-12 col-md-6 workouts">
            <a data-toggle="collapse" href="#collapseWorkouts" aria-expanded="false" aria-controls="collapseWorkouts">
                <h1>Add <%= name %></h1>
            </a>
            
              <form action="/add-workout" method="POST">
                <input id="add-workout" type="text" name="name" value="<%=name%>" required>
                <ul id="collapseWorkouts" class="list-unstyled collapse show">
                  
                  <!-- Begin loop -->
                    <% var count = 0; %>
                    <% exercises.forEach(function(exercise){ %>
                        
                        <li>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6">
                                    <label class="form-check-label">
                                        <input class="exercise_<%= count %> form-check-input" name="exercise" type="checkbox" value="<%= exercise.name %>">
                                        <%= exercise.name %>
                                    </label>
                                </div>
                                <div class="col-xs-6 col-sm-5 justify-content-center">
                                    <label class="mr-sm-2">Sets
                                      <select class="set_<%= count %> custom-select mb-2 mr-sm-2 mb-sm-0 sets-display" name="sets">
                                          <option selected value="">0</option>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                      </select>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <% count = count + 1; %>
                    <% }); %>
                    <!-- End loop -->
                </ul>
                <button type="submit" class="btn btn-block btn-outline-light mt-2 mb-2">Save Workout</button>
            </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js/dist/umd/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/liftlog.js"></script>
    <script>
    
      var count = document.querySelectorAll('[name="exercise"]');
     
      for(var i = 0; i < count.length; i++){
        document.querySelector(".exercise_" + i).addEventListener("change", function(){
          var exercise_num = document.querySelector("[name='exercise']").className[9];
          var sets_num = document.querySelector("[name='sets']").className[4];
             if (!this.checked){
                document.querySelector(".set_" + this.className[9]).classList.add("sets-display");
                document.querySelector(".set_" + this.className[9]).setAttribute("disabled", '');
             } else {
               document.querySelector(".set_" + this.className[9]).classList.remove("sets-display");
              document.querySelector(".set_" + this.className[9]).removeAttribute("disabled");
             }
        });
      }
      
    </script>
  </body>
</html>